-# チャットメイン画面
.chat-main
 .chat-header
  .chat-header__group
   .chat-header__group__name
    = @group.name
   .chat-header__group--edit-btn
    = link_to "edit", edit_group_path(@group)
  .chat-header__group-member
   MEMBER:
   - @group.users.each do |user|
    = user.name

 .chat-body
  - @messages.each do |message|
   .chat-body__message-box
    .chat-body__message-box__name
     = message.user.name
    .chat-body__message-box__date
     = message.created_at.strftime("%Y/%m/%d/ %H:%M:%S")
    .chat-body__message-box__body
     = message.body
     %br
     .chat-body__message-box__image
      = image_tag message.image_url(:thumb).to_s


 .chat-footer
  = form_for [@group, @message] do |f|
   .chat-footer__form#new_message
    = f.text_field :body, placeholder: "Type a message", id: "message_body"
    = f.label :image ,:" ", class: "icon fa fa-image"
    = f.file_field :image, id: "message_image"
   .chat-footer--submit
    = f.submit "Sent"
