.chat-group-form
  %h1 新規チャットグループ
  #new_chat_group.new_chat_group
  = form_for @group do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2
          = @group.errors.count
          件のエラーが発生しました。
          %ul
          - @group.errors.full_messages.each do |msg|
            %li
              = msg
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :Name, class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力して下さい", class: "chat-group-form__input", id: "chat_group_name"

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name,'チャットメンバーを追加', class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input.chat-group-form__input#user-search-field{ placeholder: "検索するユーザー名を入力してください", autocomplete: "off" }
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        %ul#add-users
          %li.chat-group-member.clearfix
            %p.chat-group-member__name#candidate-users
            %input{value: current_user.id, type: 'hidden'}
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :"チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        %ul#add-users
          %li.chat-group-member.clearfix
            %p.chat-group-member__name#added-users


        -#  %input{type: "hidden", name: "group[user_ids][]", value: current_user.id}

              -#     <input value="${user.id}" type="hidden">
              -# </li>


      -# <input value="${user.id}" type="hidden">

      -# <div id='user-search-result'></div>
      -# </div>
      -# <div id='chat-group-users'>
      -# <div class='chat-group-user clearfix' id='chat-group-user-22'>
      -# <input name='chat_group[user_ids][]' type='hidden' value='22'>
      -# <p class='chat-group-user__name'>seo_kyohei</p>
      -# </div>
      -# </div>
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", class: "chat-group-form__action-btn"
